# Pandas Dataframeの基本的な使い方

Pandasとは、pythonインタプリタから使えるエクセルのようなもの

行の添字を`index`と呼び、一つの列とインデックスの組を`Series` と呼ぶ


## Serias

![pic](https://pandas.pydata.org/docs/_images/01_table_series.svg)

## Dataframe

Seriesがいっぱい集まったもの

![pic](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg)

In [3]:
# 練習用のかんたんなデータフレームを作ってみる

import pandas as pd
df = pd.DataFrame(
    {
        'A': [1, 2, 3, 6], 
        'B': [10, 20, 30, 40],
        'C': [100, 200, 300, 400],
        'D': ['a', 'b', 'c', 'd']
    },
    index=['1', '2', '3','4']
  )

df

   A   B    C  D
1  1  10  100  a
2  2  20  200  b
3  3  30  300  c
4  6  40  400  d

In [4]:
# A列の抽出
df['A']

1    1
2    2
3    3
4    6
Name: A, dtype: int64

In [5]:
# A列を抽出し、合計
df['A'].sum()

12

In [6]:
# A列を抽出し、大きい方から２つとりだす
df['A'].nlargest(n=2)

4    6
3    3
Name: A, dtype: int64

In [7]:
# A, B, C 列の一行目を横方向に合計
df.loc[:'1','A':'C'].transpose().sum()
#df[['A','B','C']].loc['1'].sum()      # 勿論これでもOK
#df.drop('D',axis=True).loc['1'].sum() # 勿論これでもOK

1    111
dtype: int64

In [8]:
# 基本的な統計量を表示
df.describe()

              A          B           C
count  4.000000   4.000000    4.000000
mean   3.000000  25.000000  250.000000
std    2.160247  12.909944  129.099445
min    1.000000  10.000000  100.000000
25%    1.750000  17.500000  175.000000
50%    2.500000  25.000000  250.000000
75%    3.750000  32.500000  325.000000
max    6.000000  40.000000  400.000000