# 実践応用（１）

タイタニックデータセットを利用の利用

一例として、継承のダミー変数を作る


データセットに対しての解説は下記サイトが参考になった。

https://atmarkit.itmedia.co.jp/ait/articles/2007/02/news016.html

In [2]:
from sklearn.datasets import fetch_openml
import pandas as pd
import plotly.express as px

~~~
titanic = fetch_openml(data_id=40945, as_frame=True)
~~~

このコードは、OpenMLからTitanicデータセットを取得しています。以下にコードの概要を説明します。

- fetch_openml: OpenMLからデータセットを取得するための関数です。
- data_id=40945: TitanicデータセットのOpenML上のデータIDを指定しています。
- as_frame=True: データをPandasのDataFrameとして取得するためのオプションです。Trueにすると、データがDataFrame形式で取得されます。

このコードを実行することで、titanicという変数にTitanicデータセットがPandasのDataFrameとして格納されることになります。データセットの詳細やカラム構造などは、titanic.info()やtitanic.head()などを使用して確認できます。

In [3]:
titanic = fetch_openml(data_id=40945, as_frame=True)

/usr/local/lib/python3.10/dist-packages/sklearn/datasets/_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

~~~
df=df.drop(['body','boat'],axis=1)
~~~

このコードは、DataFrame（データフレーム）の df から 'body' 列と 'boat' 列を削除します。axis=1 は列を指定していることを示しています。

具体的には、'body' 列と 'boat' 列が含まれている行が、これらの列を削除することで変更されます。これにより、元の df から 'body' 列と 'boat' 列が取り除かれた新しい DataFrame が生成されます。

この操作は、不要な列を削除してデータを整理するために使われることがあります。不要な列を削除することで、データの見通しが良くなり、分析やモデリングがしやすくなります。

In [4]:
print (type(titanic))
print(type(titanic['data']))
print("")
#pd.DataFrame(titanic)
for i in titanic:
    print (i, " ", type(titanic[i]))

# 撮ってきた情報の確認
print(titanic['feature_names'])
print(titanic['target_names'])
print(titanic['frame'].columns.values)
print(titanic['frame'].index)

# データフレームだけ取り出し、以下２列をおとす
df=titanic['frame']
df=df.drop(['body','boat'],axis=1)
df

<class 'sklearn.utils._bunch.Bunch'>
<class 'pandas.core.frame.DataFrame'>

data   <class 'pandas.core.frame.DataFrame'>
target   <class 'pandas.core.series.Series'>
frame   <class 'pandas.core.frame.DataFrame'>
categories   <class 'NoneType'>
feature_names   <class 'list'>
target_names   <class 'list'>
DESCR   <class 'str'>
details   <class 'dict'>
url   <class 'str'>
['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest']
['survived']
['pclass' 'survived' 'name' 'sex' 'age' 'sibsp' 'parch' 'ticket' 'fare'
 'cabin' 'embarked' 'boat' 'body' 'home.dest']
RangeIndex(start=0, stop=1309, step=1)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest
0,1.0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,"St Louis, MO"
1,1.0,1,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON"
2,1.0,0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON"
3,1.0,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON"
4,1.0,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,None,C,None
1305,3.0,0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,None,C,None
1306,3.0,0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,None,C,None
1307,3.0,0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,None,C,None
1308,3.0,0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,None,S,None

~~~
df['sex_male']=df['sex'] == "male"
~~~

このコードは、DataFrame（データフレーム）の df に新しい列 sex_male を追加します。この列は、元の sex 列が "male" の場合に True を持ち、それ以外の場合は False を持ちます。

つまり、sex_male 列は性別が男性であるかどうかを示す列です。このような列の追加は、データに対して新しい情報を導入し、条件に基づいた分析やフィルタリングを行う際に便利です。

In [5]:
# 男女別のダミー変数をつくる
df['sex_male']=df['sex'] == "male"
df['sex_female']=df['sex'] == "female"
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest,sex_male,sex_female
0,1.0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,"St Louis, MO",False,True
1,1.0,1,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",True,False
2,1.0,0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",False,True
3,1.0,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",True,False
4,1.0,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,None,C,None,False,True
1305,3.0,0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,None,C,None,False,True
1306,3.0,0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,None,C,None,True,False
1307,3.0,0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,None,C,None,True,False
1308,3.0,0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,None,S,None,True,False

~~~
for h in honorifics:
        sdf['name_' + h] = sdf['name'].str.contains('|'.join(honorifics[h]))
        l.append('name_' + h)
l.append('survived')

sdf[l].corr().loc['survived']
~~~

このコードは、DataFrame（データフレーム）の sdf に対して、'name' 列をもとにダミー変数を作成し、その後、'Survived' 列との相関を計算しています。以下に各行動の詳細を説明します。

1. for h in honorifics:
   - honorifics という辞書から敬称（h）を取り出します。
2. sdf['name_' + h] = sdf['name'].str.contains('|'.join(honorifics[h]))
   - name 列から敬称に関連する単語が含まれているかどうかを示すダミー変数を作成し、それを sdf に追加します。新しい列の名前は 'name_' + h となります。
4. l.append('name_' + h)
   - 新しい列の名前をリスト l に追加します。
4. sdf[l].corr().loc['survived']
   - l に含まれる列と 'Survived' 列の相関係数を計算し、その結果を表示します

In [6]:
# 名前の敬称べつでダミー変数をつくる
sdf=df
l=[]

# survived 列をboolに（colabではエラーが発生）
df['survived']=df['survived'] =='1'

# 敬称を適当に分類する
honorifics = {
    'Officer' : ['Capt', 'Col', 'Major', 'Dr', 'Rev'],
    'Royalty' : ['Don', 'Sir', 'the Countess', 'Dona', 'Lady'],
    'Mrs'     : ['Mme', 'Ms', 'Mrs'],
    'Miss'    : ['Mlle', 'Miss'],
    'Mr'      : ['Mr'],
    'Master'  : ['Master','Jonkheer']
}

# 上のdictをもとにダミー変数を作成
for h in honorifics:
        sdf['name_' + h] = sdf['name'].str.contains('|'.join(honorifics[h]))
        l.append('name_' + h)
l.append('survived')

sdf[l].corr().loc['survived']

# グラフプロット
# mrs. miss. master.などに正の相関が見て取れ、逆にMr.は負の相関があることがわかる
fig=px.bar(sdf[l].corr().loc['survived'],title="敬称と生存の相関").show()
sdf[l].corr()

sdf

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest,sex_male,sex_female,name_Officer,name_Royalty,name_Mrs,name_Miss,name_Mr,name_Master
0,1.0,True,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,"St Louis, MO",False,True,False,False,False,True,False,False
1,1.0,True,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",True,False,False,False,False,False,False,True
2,1.0,False,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",False,True,False,False,False,True,False,False
3,1.0,False,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",True,False,False,False,False,False,True,False
4,1.0,False,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,"Montreal, PQ / Chesterville, ON",False,True,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,False,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,None,C,None,False,True,False,False,False,True,False,False
1305,3.0,False,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,None,C,None,False,True,False,False,False,True,False,False
1306,3.0,False,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,None,C,None,True,False,False,False,False,False,True,False
1307,3.0,False,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,None,C,None,True,False,False,False,False,False,True,False
1308,3.0,False,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,None,S,None,True,False,False,False,False,False,True,False